html, body {

  font-family:
  var(--font-body);

  font-size:
  var(--text-md);

  line-height:
  var(--leading-normal);

  color: var(--color-text);
  margin: 0;
}

html, body, #App {
  overscroll-behavior-x: none;
}

#App {
  width: 100%;
  height: 100vh;
  background-color: var(--color-surface);
  perspective: 800px;
  overflow: hidden;
}


#pageOverlay {
  position: fixed;
  inset: 0;

  z-index: var(--z-overlay);

  opacity: 0;
  touch-action: pan-y;
  pointer-events: none;
  transition: opacity 0.25s;
}

/* Active state */
#pageOverlay.open {
  opacity: 1;
  pointer-events: all;
}

#pagesBackground {
  position: absolute;
  inset: 0;
  z-index: calc(var(--z-sidebar) + 50);

  background: color-mix(in srgb, var(--color-background) 60%, transparent);

  border-radius: 20px;

  transform: scale(0.9) translateX(0);
  opacity: 0;

  transition:
    transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.05),
    opacity 0.5s;

  pointer-events: none;
}

#pagesContainer {
  background-color: var(--color-background);
  height: 100%;
  box-sizing: border-box;
  position: relative;

  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.05), border-radius 0.5s ease-out;
}

.page {
  height: 100%;
  display: none;
  flex-direction: column;
}


.page-header {
  display: flex;
  flex-direction: column;
}

.page-header .searchbar-container {
  display: flex;
  align-items: center;
  gap: var(--space-3);
  padding: 0 var(--space-1);
}

.open-sidebar-button {
  transition: transform 0.1s linear;
}

.page-header .title {
  margin: var(--space-4) 0 var(--space-4) var(--space-3);
  transition: transform 0.1s linear;
}

.page-header .searchbar {
  height: 48px;
  flex: 1;
  transition: height 0.1s linear;
}


#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 80px;
  row-gap: 120px;
  flex: 1;

  overflow-y: auto;
  overflow-x: hidden;
}

#grid > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#grid > div .header {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 0;
  margin-bottom: var(--space-3);
}

/* ===============================
Sidebar
=============================== */

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  max-width: 70%;
  background-color: var(--color-surface);


  inset:0;

  z-index: var(--z-sidebar);

  display:flex;
  flex-direction: column
}

.sidebar .section-header {
  color: var(--color-text-muted);
}
.sidebar .sidebar-tabs {
  display:flex;
  flex-direction: column;
  
}